
            body{
                background-color: #380101;
                color: white;
                margin: 0;

            }

            h1, h2{
                color: red;
                text-align: center;
                

            }

            h1{
                text-transform: uppercase;
            }


            p{

                text-align: justify;
                color: white;
                
            }

            header{
                                background-color: azure;
                color: black;
            }

    
            main{
                margin: auto 20%;

                
            }

            footer{
                background-color: azure ;
            }

            .destaque{
                background-color: brown;
                color: azure;
                padding: 20px;
                margin-bottom: 20px;
           }

            #img-logo{
                width: 50px;
            } 

            nav li{
                display: inline;
                margin-left: 20px;
                color: #be1616;
                font-weight: bold;
                border: 2px solid #be1616;
                padding: 5px;
            }

            nav{
                float: right;

            }
